body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    background-color: cornflowerblue;
}

#question {
    background-color: white;
    max-width: auto;
    max-height: auto;
    min-width: 500px;
    min-height: 100px;
    border-radius: 10px;
    box-shadow: rebeccapurple;
}

.controls {

}

#start-btn,
#next-btn {
    background-color: lightyellow
}

.container {

}

#countdown {
    background-color: pink;
    border-radius: 10px;
    box-shadow: rebeccapurple;
    font-size: auto;
}

.btn {
    background-color: lightyellow;
    border-radius: 5px;
    min-width: auto;
    max-width: auto;
    min-height: auto;
    max-height: auto;
}

.hide {
    display: none;
}

#score {
    background-color: rgb(7, 255, 102);
    max-width: 100px;
    min-width: auto;
    max-height: 100px;
    min-height: auto;
    font-size: 30px;
    border:lime;
    border-width: 10px;
    box-shadow: mediumspringgreen;
    border-radius: 10px;
}